/*
 * 基础样式
 */
html,body{ padding:0px; margin:0px;}
body, html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/*
 * layout 样式
 */
.layout-main{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
}



.single-frame-viewport{
	
	width:100%;
	height:100%;
	box-sizing:border-box;
	position:relative;
	z-index:99;
}

.single-frame-box{
	height:100%;
	width:100%;
	overflow:hidden;
}

.viewroot-box{
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
  	-webkit-box-sizing: border-box;
  	padding-top:60px;
	box-sizing:border-box;
}
.viewroot{ 
	height:100%;
	position:relative;
}

/*  */
.single-frame-head{
	position:fixed;
	width:100%;
	height:60px;
	top:0px;
	left:0px;
	background:#f00;
	z-index:100;
}

.single-header-hide .viewroot-box{
	padding-top:0px;
}

@-webkit-keyframes default_forward_out{
	from{
		-webkit-transform:translate3d(0%,0,0);
	}
	to{
		-webkit-transform:translate3d(-100%,0,0);
	}
}

@-webkit-keyframes default_forward_in{
	from{
		-webkit-transform:translate3d(100%,0px,0px);
	}
	to{
		-webkit-transform:translate3d(0%,0px,0px);
	}
}

@-webkit-keyframes default_back_out{
	from{
		-webkit-transform:translate3d(0%,0px,0px);
	}
	to{
		-webkit-transform:translate3d(100%,0px,0px);
	}
}

@-webkit-keyframes default_back_in{
	from{
		-webkit-transform:translate(-100%,0px);
	}
	to{
		-webkit-transform:translate(0%,0px);
	}
}

/**
 * 向前的离开
 */
.default_forward_out{
	-webkit-animation:default_forward_out .5s forwards ;

}
/**
 * 向前的进入
 */
.default_forward_in{
	-webkit-animation:default_forward_in .5s forwards;
}
/**
 * 返回的离开
 */
.default_back_out{
	-webkit-animation:default_back_out .5s forwards ;
}
/**
 * 返回的进入
 */
.default_back_in{
	-webkit-animation:default_back_in .5s forwards;
}

/** header 动画 **/
@-webkit-keyframes header_forward_out{
	from{
		-webkit-transform:translate3d(0%,0,0);
		opacity:1;
	}
	30% {
		opacity:0.3;
	}
	to{
		-webkit-transform:translate3d(-50%,0,0);
		opacity:0;
	}
}

@-webkit-keyframes header_forward_in{
	from{
		-webkit-transform:translate3d(50%,0,0);
		opacity:0;
	}
	70% {
		opacity:0.3;
	}
	to{
		-webkit-transform:translate3d(0%,0,0);
		opacity:1;
	}
}

@-webkit-keyframes header_back_out{
	from{
		-webkit-transform:translate3d(0%,0,0);
		opacity:1;
	}
	30% {
		opacity:0.3;
	}
	to{
		-webkit-transform:translate3d(50%,0,0);
		opacity:0;
	}
}

@-webkit-keyframes header_back_in{
	from{
		-webkit-transform:translate3d(-50%,0,0);
		opacity:0;
	}
	70% {
		opacity:0.3;
	}
	to{
		-webkit-transform:translate3d(0%,0,0);
		opacity:1;
	}
}

/**
 * 向前的离开
 */
.header_forward_out{
	-webkit-animation:header_forward_out .5s ease ;

}
/**
 * 向前的进入
 */
.header_forward_in{
	-webkit-animation:header_forward_in .5s ease;
}
/**
 * 返回的离开
 */
.header_back_out{
	-webkit-animation:header_back_out .5s ease ;
}
/**
 * 返回的进入
 */
.header_back_in{
	-webkit-animation:header_back_in .5s ease;
}


.silky-box{ overflow:hidden;}
.silky-subbox{ display:table;}
.silky-scrollbarx,.silky-scrollbary{ background:#000; opacity:0.5; overflow:hidden; position:absolute; border-radius:5px;}
.silky-scrollbarx{ left:0px; bottom:0px; height:5px; width:5px;}
.silky-scrollbary{ right:0px; top:0px; height:5px; width:5px;}
.silky-letgo{ 
	/*-transition:all .5s ease-in;
	-webkit-transition:all .05s ease-in;
	-moz-transition:all .05s ease-in;*/
}

/**
 * ui部分的样式
 */
.ui-root{

}

.ui-layer{
	position:fixed;
	background:#fff;
	left:50%;
	top:50%;
}

.ui-mask{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
}

.ui-mask-not-opacity{
	background:rgb(0,0,0);
}


.ui-dialog,.ui-toast{

}

.ui-dialog{
	width:200px;
	border-radius:5px;
}
.ui-dialog-padding{
	box-sizing:border-box;
	padding:5px;
}

.ui-dialog-head{
	height:1.5em;
	line-height:1.5em;
}

.ui-dialog-content{
	padding:10px 0px;
	line-height:1.5em;
}

.ui-dialog-buttons{
	text-align:center;
}

.ui-dialog-buttons button{
	margin:0px 5px;
}

.ui-toast{
	border-radius:5px;
	padding:10px;
	max-width:80%;
	min-width:10%;
}

.ui-loading{
	width:100px;
	height:100px;
	border-radius:50%;
	background:rgba(0,0,0,0.2);
}

.ui-loading:after{
}

.ui-slide-box{
	overflow:hidden;
	height:100%;
	position:relative;
}
.ui-slide-sub-box{
	height:100%;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
	
}
.ui-slide-trans{
	-webkit-transition:all ease 0.2s;
	transition:all ease 0.2s;
}
.ui-slide-item{
	height:100%;
	float:left;
}
.ui-slide-nav{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	text-align:center;
}
.ui-slide-nav span{ margin:5px; width:10px; height:10px; border-radius:5px; display:inline-block; background:#999;}
.ui-slide-nav span.ui-slide-cur-nav{ background:#eee;}

.block-view{ display:none; position:absolute; left:0px; top:0px; width:100%; height:100%; }
.cur-block-view{ display:block;}




/** loading start **/

.spinner {
  width: 50%;
  height: 50%;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-25%;
  margin-top:-25%;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1s infinite ease-in-out;
  animation: bouncedelay 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/** loading end **/

